@charset "UTF-8";


.rating-css div {
  color: #ffe400;
  float: left;
}
.rating-css input {
  display: none;
}
.rating-css input + label {
  font-size: 20px;
  color : #ffe400;
  text-shadow: 1px 1px 0 #ffe400;
  cursor: pointer;
}
.rating-css input:checked + label ~ label {
  color: #838383;
}
.rating-css label:active {
  transform: scale(0.8);
  transition: 0.3s ease;
}